.contract-container{
    font-size: 24pt;
    background-color: white;
    display: flex;
    flex-direction: column;
    size: A4;
    border: solid 3px black;
}
.contract-header{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.contract-title{
    font-size: 28pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.buyer-container{
    display: grid;
    grid-template-areas: 
    "buyer-title buyer-title"
    "name social"
    "name-value social-value"
    "address phone"
    "address-value phone-value"
    ;
    grid-template-columns: 300px;
    margin: 40px;
    gap: 5px;
    width: fit-content;
}
.buyer-title{
    grid-area: buyer-title;
}
.buyer-name{
    grid-area: name;
}
.buyer-name-value{
    grid-area: name-value;
}
.buyer-social{
    grid-area: social;
}
.buyer-social-value{
    grid-area: social-value;
}
.buyer-address{
    grid-area: address;
}
.buyer-address-value{
    grid-area: address-value;
}
.buyer-phone{
    grid-area: phone;
}
.buyer-phone-value{
    grid-area: phone-value;
}
.seller-container{
    display: grid;
    grid-template-areas: 
    "seller-title seller-title"
    "name social"
    "name-value social-value"
    "address phone"
    "address-value phone-value"
    ;
    grid-template-columns: 300px;
    margin: 20px;
    gap: 5px;
    width: fit-content;
}
.seller-title{
    grid-area: seller-title;
}
.seller-name{
    grid-area: name;
}
.seller-name-value{
    grid-area: name-value;
}
.seller-social{
    grid-area: social;
}
.seller-social-value{
    grid-area: social-value;
}
.seller-address{
    grid-area: address;
}
.seller-address-value{
    grid-area: address-value;
}
.seller-phone{
    grid-area: phone;
}
.seller-phone-value{
    grid-area: phone-value;
}

.product-container{
    display: grid;
    grid-template-areas: 
    "product-title product-title"
    "product price"
    "product-value price-value"
    "product-info product-info"
    "product-info-value product-info-value"
    ;
    grid-template-columns: 300px;
    margin: 20px;
    gap: 5px;
    width: fit-content;
}
.product-title{
    grid-area: product-title;
}
.product-type{
    grid-area: product;
}
.product-type-value{
    grid-area: product-value;
}
.price{
    grid-area: price-value;
}
.product-info{
    grid-area: product-info;
}
.product-info-value{
    grid-area: product-info-value;
}

.signing-container{
    display: grid;
    grid-template-areas: 
    "seller-place-date buyer-place-date"
    "seller-sign buyer-sign"
    "name-clarification-seller name-clarification-buyer"
    ;
    grid-template-columns: 300px;
    margin: 20px;
    gap: 5px;
    width: fit-content;
}

.seller-place-date{
    grid-area: seller-place-date;
    margin-bottom: 40px;
}
.buyer-place-date{
    grid-area: buyer-place-date;
}
.seller-sign{
    grid-area: seller-sign;
    margin-bottom: 40px;
}
.buyer-sign{
    grid-area: buyer-sign;
}
.name-clarification-seller{
    grid-area: name-clarification-seller;
}
.name-clarification-buyer{
    grid-area: name-clarification-buyer;
}
