html, body{
  height: 100vh;
}

body{

}

#root{
  background-color: white;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.header{
  grid-area: header;
  width: 100%;
  align-content: center;
  background-color: green;
  justify-self: center;

}

.navigationItems{
  width: 100%;
}

.newButton{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 406px;
  left: 50%;
  text-align: center;
}

.previousStep{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 406px;
  left: 740px;
  text-align: center;
}

.nextStep{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 406px;
  left: 50%;
  text-align: center;
}

.componentContainer{

}

.stepWrapper{

}

.buyerOneComponent{

}

.sellerOneComponent{

}

.objectOneComponent{

}

label{

}

#form{
  height: 200px
}

select{
  width: 200px;
  height: 30px;
  color: white;
  background-color: green;
}

select:hover{
  background-color: rgb(0, 140, 0);
}

.navigationStepContainer{
  text-align: center;
  margin: 20px;
}

.componentContainer{
  width: 100%;
  height: 300px;
  justify-self: center;
  align-self: center;

}

.navigationButtonContainer{
  text-align: center;
}

.circle{
  width: 29px;
  height: 29px;
  line-height: 25px;
  background-color: green;
  color: white;
  border-radius:45%;
  border: 2px solid transparent;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.circle:hover{
  background-color: rgb(0, 140, 0);
}

.stepWrapper{
  display: flex;
  justify-content: center;
}

.stepBlock .circleWrapper{
  padding-left: 0px 220px;
  position: relative;
}

.selected .circle{
  color: black;
  background-color:white;
  border-color: green;
}

.stepBlock:not(:last-child) > .circleWrapper::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: green;
  margin: auto;
  z-index: -1;
}
.stepBlock:not(:last-child) >  .circleWrapper::after{
  height: 3px;
}
.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after{
  height: 2px;
}

.primaryButton{
  padding: 10px 25px;
  background-color: green;
  border: none;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer; 
  width: 200px;
}
.primaryButton:hover{
  background-color: rgb(0, 140, 0);
}